<!DOCTYPE html>
<html>
    <head>
        <meta lang="pt-br">
        <meta charset="UTF-8">
        <meta title="Página de Cadastro">
        <meta author="Daniel Lourenço Affonso">
        <title>Cadastre-se Já</title>
        <link rel="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
"Obrigado por se cadastrar na nossa plataforma, {escape(user_name)}. <br>Verifique o email que enviamos para {escape(user_mail)} para validar seu cadastro :)"
    </body>
</html>