<!DOCTYPE html>
<html>
    <head>
        <meta lang="pt-br">
        <meta charset="UTF-8">
        <meta title="Página de Acesso">
        <meta author="Daniel Lourenço Affonso">
        <title>Cadastre-se Já</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <meta name="viewport" content="width=device-width; initial-scale=1.0">
    </head>
    <body>
      <div class="simpleForm">  
        <div class="login">
            <h2>Já possui cadastro Conosco? </h2>
            <form method="post" action="{url_for('autorizar_usuario')}">
            <div class="user_input"> <label>Email</label><br>
                <input type = "text" id = "email_usuario" name = "email_usuario" placeholder="Ex: email@gmail.com" required> <br><br>
            </div>
            <div class="user_input">
                <label>Senha</label><br>
                <input type="password" id = "senha_usuario" name = "senha_usuario" placeholder="********" required><br>
            </div>
                <br><br>
                <input type="submit" value="ENTRAR" class="botao">
            </form>
<!---<div class="recupera_senha">
            <a href="">Esqueceu a senha?</a>
        </div>
--->        <br>           
            <div class="vl">
                <style>
                
                </style>
            </div> 
        <br>
        <div class="cadastro">
            <h2>Não tem uma conta? </h2>
            <form method="post" action="{url_for('registrar_usuario')} ">
                <div class="user_input">
                <label>Nome</label><br>
                <input type="text" id="nome_usuario" name="nome_usuario" placeholder="Insira seu nome completo" required><br>
            </div><br>
            <div class="user_input">
                <label>Email</label><br>
                <input type="email" id="email_usuario" name="email_usuario" placeholder="Ex: email@gmail.com" required><br>
            </div>
            <br>
            
            <div class="user_input">
                <label>Telefone</label><br>
                <input type="tel" id="tel_usuario" name="tel_usuario" placeholder="Ex: (21)99999-9999"><br>
                <br>
            </div>
            <div class="user_input">
                <label>Senha</label><br>
                <input type="password" id="senha_usuario" name="senha_usuario" placeholder="********" required><br>
            </div>
            <br><br>
                <input type="submit" value="CADASTRAR" class="botao">
            </form>
        </div>
    </div>
    </body>
</html>